/* index-thumbnail */
.index-banner {
    margin: 1rem 0rem;
    position: relative;
    height: 80vh;
    background-image: url('/assets/img/index-thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.index-banner::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.index-banner__content {
    position: relative;
    z-index: 2;
    /* Ensures the content is above the pseudo-element overlay */
    text-align: start;
    top: 50%;
    left: 25%;
    transform: translate(-20%, -50%);
    line-height: 1.3;
    width: 80%;
}

.index-banner__content h1 {
    font-size: 5em;
    width: 50%;
    margin: 0 0 0.5em 0;
}

.index-banner__subheading {
    font-size: 1.5rem;
    /* Adjust the size as needed */
    margin-bottom: 1em;
    width: 40%;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    /* Adjust the color as needed */
    color: var(--Green-Color);
    /* Adjust text color to match your design */
    text-decoration: none;
    text-transform: uppercase;
    border-radius: var(--btn-Radius);
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--Green-Color);
    box-shadow: var(--shadow);
    color: #fff;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .index-banner__content {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .index-banner__subheading {
        font-size: 1.2rem;
        width: 80%;
    }

    .index-banner {
        height: 60vh;
    }


    .index-banner__content h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 767px) {

    .index-banner__content {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    .index-banner__subheading {
        font-size: 1rem;
        width: 70%;
    }

    .index-banner {
        margin: 0rem;
        height: 55vh;
        background-position: 60% center;
    }
    .index-banner__content h1 {
        font-size: 2.5em;
    }
}







/* operations */

.operations-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    margin: 5rem auto;
    align-items: center;
}

.line {
    display: flex;
    border-bottom: 2px solid var(--Green-Color);
    width: 7rem;
    justify-content: center;
}

.line h2 {
    font-size: 4rem;
    margin: 0 0 1rem 0;
    color: var(--Green-Color);
}

.operations-container-all-operations {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
        gap: 4rem;
    justify-items: center;

}

.operations-container-operation1 {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--Green-Color);
    font-size: 2rem;
    font-weight: 600;
    box-shadow: var(--shadow);
    padding: 2rem;
    border-radius: 27px;
    width: 100%;
}





@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .operations-container-all-operations {
        grid-template-columns: repeat(1, 1fr);
        width: 90% !important;
    }
    .line h2 {
        font-size: 3rem;
    }

}


@media only screen and (max-width: 767px) {
    .operations-container-all-operations {
        grid-template-columns: repeat(1, 1fr);
        width: 90% !important;
    }
    .line h2 {
        font-size: 3rem;
    }
    .operations-container-operation1 {
        font-size: 1.5rem;
        padding: 1rem;
        gap: 1rem;

    } 
}

/* why choose zoom */

.operations-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    margin: 5rem auto;
    align-items: center;
}




@media only screen and (min-width: 768px) and (max-width: 1024px) {


}


@media only screen and (max-width: 767px) {
  
}