* {
    box-sizing: border-box;
    /* Apply box-sizing to all elements */
}
img {
    -webkit-user-drag: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* index-thumbnail */
.index-banner {
    margin: 1rem 0rem;
    position: relative;
    height: 80vh;
    background-image: url('/assets/img/index-thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.index-banner::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.index-banner__content {
    position: relative;
    z-index: 2;
    /* Ensures the content is above the pseudo-element overlay */
    text-align: start;
    top: 50%;
    left: 25%;
    transform: translate(-20%, -50%);
    line-height: 1.3;
    width: 80%;
}

.index-banner__content h1 {
    font-size: 5em;
    width: 50%;
    margin: 0 0 0.5em 0;
}

.index-banner__subheading {
    font-size: 1.5rem;
    /* Adjust the size as needed */
    margin-bottom: 1em;
    width: 40%;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    /* Adjust the color as needed */
    color: var(--Green-Color);
    /* Adjust text color to match your design */
    text-decoration: none;
    text-transform: uppercase;
    border-radius: var(--btn-Radius);
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--Green-Color);
    box-shadow: var(--shadow);
    color: #fff;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .index-banner__content {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .index-banner__subheading {
        font-size: 1.2rem;
        width: 80%;
    }

    .index-banner {
        height: 60vh;
    }


    .index-banner__content h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 767px) {

    .index-banner__content {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    .index-banner__subheading {
        font-size: 1rem;
        width: 70%;
    }

    .index-banner {
        margin: 0rem;
        height: 55vh;
        background-position: 60% center;
    }

    .index-banner__content h1 {
        font-size: 2.5em;
        width: 100%;
    }
}







/* operations */

.operations-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    margin: 15rem auto;
    align-items: center;
}

.line {
    display: flex;
    border-bottom: 2px solid var(--Green-Color);
    justify-content: center;
}

.line h3 {
    font-size: 4rem;
    margin: 0 0 1rem 0;
    color: var(--Green-Color);
}

.operations-container-all-operations {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    justify-items: center;

}
.operations-container-operation1 {
    width: 100%;
    transition: transform 0.3s ease;
}
.operations-container-operation1:hover{
    transform: translateY(-2px); 

}

.operations-container-operation1 a{
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--Green-Color);
    font-size: 2rem;
    font-weight: 600;
    box-shadow: var(--shadow);
    padding: 2rem;
    border-radius: 27px;
    width: 100%;
    text-decoration: none;
}





@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .operations-container-all-operations {
        grid-template-columns: repeat(1, 1fr);
        width: 90% !important;
    }

    .line h3 {
        font-size: 3rem;
    }

}


@media only screen and (max-width: 767px) {
    .operations-container-all-operations {
        grid-template-columns: repeat(1, 1fr);
        width: 90% !important;
    }

    .line h3 {
        font-size: 2.5rem;
    }

    .operations-container-operation1 a {
        font-size: 1.3rem;
        padding: 2rem 1rem;
        gap: 1rem;
        text-decoration: none;
    }
}

/* why choose zoom */

.why-choose-container {
    display: flex;
    gap: 3rem;
    margin: 5rem 5rem 15rem 5rem;
    align-items: center;
}

.why-choose-container-img {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-choose-container-img img {
    width: 100%;
}

.why-choose-container-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 5rem auto;
}

.why-choose-container-text h3 {
    font-size: 2.5em;
    color: var(--Green-Color);
}

.why-choose-container-text p {
    font-size: 1.3em;
}

.why-choose-container-text-p {
    font-size: 1.8em;
    font-weight: 500;
}

.why-choose-container-text-boxes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;

}

.why-choose-container-text-box {

    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--Green-Color);
    font-size: 1rem;
    font-weight: 600;
    box-shadow: var(--shadow);
    padding: 2rem;
    border-radius: 27px;
}

.item3 {
    grid-column: 1 / span 2;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .why-choose-container {
        flex-direction: column-reverse;
    }
    
    .why-choose-container-img {
        width: 100%;
    }
    .why-choose-container-text-boxes-container {
        grid-template-columns: repeat(1, 1fr);
        width: 90% !important;
    
    }
    .item3 {
        grid-column: 1 / span 1;
    }
    .why-choose-container-text-box{
        width: 100%;

    }

}


@media only screen and (max-width: 767px) {
    .why-choose-container {
        flex-direction: column-reverse;
        margin: 2rem;

    }
    .why-choose-container-img {
        width: 100%;
    }
    .why-choose-container-text-boxes-container {
        grid-template-columns: repeat(1, 1fr);    
    }
    .item3 {
        grid-column: 1 / span 1;
    }
    .why-choose-container-text-box{
        width: 100%;

    }
    .why-choose-container-text h3 {
        font-size: 1.5em;
    }
    .why-choose-container-text p {
        font-size: 1em;
    }
}


/* blogs-section */

.blogs-section-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    margin: 15rem auto;
    align-items: center;
}
.blogs-section {
    width: 85%;
}

/* before and after */
.before-and-after-section-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.before-and-after-section-imgs-img {
    width: 100%;
}
.before-and-after-section-imgs-img img{
    width: 100%;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .before-and-after-section-imgs {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (max-width: 767px) {
    .before-and-after-section-imgs {
        grid-template-columns: repeat(1, 1fr);
    }
}



@media only screen and (min-width: 1300px) {
    .before-and-after-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .reviews {
        position: relative;
    }

    .review-sec {
        display: flex;
        margin: 15rem 8rem;
        align-items: center;
        gap: 2rem;
    }

    .reviews-map img {
        width: 80%;
    }

    .reviews-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .reviews-text h3 {
        font-size: 2.5em;
        color: #292929;
        font-weight: 700;
        width: 90%;
        position: relative;
    }

    .reviews-text h2 {
        color: #C4942F;
        font-weight: 700;
        width: 90%;
        position: relative;
    }

    .reviews-text-side {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .review-carousel {
        overflow: hidden;
        position: relative;
        max-width: 500px;

    }

    .carousel-viewport {
        display: flex;
        transition: transform 0.3s ease-in-out;
        width: 100%;
    }

    .review-card-container {
        flex: 0 0 100%;
        /* Each card container takes 33.33% of the viewport width with a 10px gap */
        padding: 1.5rem;
        background-color: #ffffff;
        box-sizing: border-box;
        border-radius: 1.625rem;
        border: 2px solid var(--Green-Color);
    }

    .review-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
    .reviews-map {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .review-stars {
        display: flex;
        gap: 1rem;
    }

    .next-btn {
        margin-top: 10px;
        position: absolute;
        z-index: 1;
        right: 0%;
        top: 40%;
        transform: translateY(-50%);
    }

    .review-id {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .review-id h4 {
        font-size: 1.5em;
        font-weight: 600;
    }
    .contact-us {
        display: flex;
        padding: 2rem 0 2rem 15%;
        background-image: url('/assets/img/contact-us-footer.png');
        background-size: cover;
        background-position: center;   
     }
}
@media only screen and (max-width: 1300px) {
    .before-and-after-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-us {
        display: flex;
        padding: 2rem 0 2rem 15%;
        background-image: url('/assets/img/contact-us-footer.png');
        background-size: cover;
        background-position: center;   
     }

    .reviews {
        position: relative;
    }
    .next-btn {
        right: 5%!important;
        top: 42% !important;
    }

    .review-sec {
        display: flex;
        margin: 8rem 1rem 4rem 1rem;
        align-items: center;
        gap: 2rem;
    }

    .reviews-map img {
        max-height: 240px;
        display: none;
    }

    .reviews-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .reviews-text h3 {
        font-size: 3em;
        color: #292929;
        font-weight: 700;
        width: 90%;
        position: relative;
    }

    .reviews-text h2 {
        color: #C4942F;
        font-weight: 700;
        width: 90%;
        position: relative;
    }

    .reviews-text-side {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }

    .review-carousel {
        overflow: hidden;
        position: relative;
        max-width: 500px;

    }

    .carousel-viewport {
        display: flex;
        transition: transform 0.3s ease-in-out;
        width: 100%;
    }

    .review-card-container {
        flex: 0 0 100%;
        /* Each card container takes 33.33% of the viewport width with a 10px gap */
        padding: 1.5rem;
        background-color: #FFF7E5;
        box-sizing: border-box;
        border-radius: 1.625rem;
    }

    .review-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    .review-stars {
        display: flex;
        gap: 1rem;
    }

    .next-btn {
        margin-top: 10px;
        position: absolute;
        z-index: 1;
        right: 8%;
        top: 20%;
        transform: translateY(-50%);
    }

    .review-id {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .review-id h4 {
        font-size: 1.5em;
        font-weight: 600;
    }
}