.index-banner {
    margin: 1rem 0rem;
    position: relative;
    height: 80vh;
    background-image: url('../img/review-thumbnail.png');
    background-size: cover;
    background-position: center;
    color: var(--Green-Color);
    display: flex;
    align-items: center;
    justify-content: center;

}

.index-banner::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.index-banner__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;

}

.index-banner__content img {
    width: 35%;
    margin: 0 0 2rem 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .index-banner__content img {
        width: 35%;
        margin: 0 0 2rem 0;
    }

}

@media only screen and (max-width: 767px) {
    .index-banner__content img {
        width: 50%;
        margin: 0 0 2rem 0;
    }
}

.awards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0;
    padding: 2rem 2rem 2rem 7rem;
    background-color: #F6F6F6;
}

.awards-container p {
    width: 60%;
    line-height: 1.5;
    color: var(--Green-Color);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
}

.awards-container img {
    width: 70%;
    margin: 1rem 0;
}

@media only screen and (max-width: 767px) {
    .awards-container img {
        width: 100%;
    }

    .awards-container {
        padding: 2rem;
    }

    .awards-container p {
        width: 100%;
        font-size: 1rem;
    }
}


.slider-container-review {
    width: 40%;
    font-size: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 27px;
    box-shadow: var(--shadow);
}

.slider-container-review img {
    margin: 0 0 1rem 0;
}

.slider-container-review h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
}







.line {
    display: flex;
    justify-content: center;
}

.slider-container-section h3 {
    font-size: 4rem;
    /* margin: 0 0 1rem 0; */
    color: var(--Green-Color);
    padding: 0 0 0.1em 0;
    border-bottom: 4px solid;
}












.slider-container {
    display: flex;
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 5rem 0 2rem 0;
    align-items: center;
    justify-content: center;
}


.slide {
    /* width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;*/
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.active {
    opacity: 1;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(125, 125, 125, 0.5);
    margin: 0 10px;
    cursor: pointer;
}

.active-dot {
    background-color: var(--Green-Color);
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .slider-container-review {
        width: 70%;
    }

    .line h3 {
        font-size: 3rem;
    }
}


@media only screen and (max-width: 767px) {
    .slider-container-review {
        width: 95%;
    }

    .line h3 {
        font-size: 2.5rem;
    }

}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: var(--Green-Color);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: var(--btn-Radius);
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--Green-Color);
    box-shadow: var(--shadow);
    color: #fff;
}